# === Python ===
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# === Virtual Environments ===
venv/
env/
.venv/
ENV/
.ENV/

# === PyCharm ===
.idea/

# === Logs and local data ===
*.log
*.sqlite3
*.db

# === Jupyter Notebooks checkpoints ===
.ipynb_checkpoints/

# === OS Files ===
.DS_Store
Thumbs.db